.container {
  position: absolute;
  left: 0px;
  width: 42px;
  top: 42px;
  bottom: 0;
  background-size: border-box;
  box-shadow: 0 3px 6px rgba(0,0,0, 0.16), 0 3px 6px rgba(0,0,0,0.23);
  
}

.item {
  padding: 0 3px;
}
